<%- include('./header.ejs') %>
  <!-- hero -->
  <section id="hero">
    <div class="container-fluid">
      <div class="px-4 py-5 mt-5">
        <h1 class="display-5 fw-bold text-body-emphasis">Lets Learn About Us</h1>
        <div class="px-4">
          <p class="lead mb-4">Pratap Vahini Samaj Kalyan Sansthan, Gwalior was incepted in 1995 after the due
            registration from Registrar, Firms & Society, M.P. Govt. The society was established by Lt. Shri Ram Singh
            Dhakre and his associates. The society established the first Engg. College of the region in 1996 on the name
            of great Indian legendry Maharana Pratap College of Technology, which is now the parent organization of the
            group society under the leadership of Lt. Shri Ram Singh Dhakre finished its second venture by establishing
            first Dental College of the region in 2003, this college again has set now dimension in the field of medical
            education. After this in late 20s the society promoted and established nursing college , Allied Science
            College and Management institute.
            <br><br>
            The society is not only involve in promoting the educational institute but also very much serious about the
            society upliftment under this egis. The society opted a village name NONERA in Dist. Bhind M.P. for its
            overall development. The society is regularly organizing health checkup camps, distributing free medicine,
            constructed road and provisions were made for pure drinking water supply
            <br><br>
            To fulfill the commitment towards mankind and to serve them ,society now established 100 bed hospital which
            is fully functional and serving the society by providing all major facilities under one roof.
          </p>
          <h2 class="fw-bold text-body-emphasis">PRINCIPAL'S MESSAGE</h2>
          <p class="lead mb-4">GIVE students a vision of new ambition and to equip them professionally, technically as
            well as analytically in an outlook of decision making in the ever-changing national and International
            technical environment.
            TRAIN students to become successful technocrats, effective leader and team player so that they are equipped
            to enhance their knowledge, developing confidence and zeal for creativity.
            HELP students to discover their dormant qualities and unused strengths and potential. so that they get the
            vigor to set the highest goals for their life and achieve them; DEVELOP students' abilities to solve and to
            implement solution in phases resolving complex problems.
            INSTIL in students the art of Engineering and understanding of human behavioural pattern and motivation in
            cultural multidimensional environment.
            PROVIDE a course that is continually evolving and improving, in both context and structure, and focuses on
            the ideas and skills which are vital to technical & managerial success.
            <br>
            <b>CONTACT PRINCIPAL-Dr. SANJAY GOMASTHA</b>
          </p>
        </div>
      </div>
    </div>
    <div class="container  ">
      <div class="row">
        <!-- <div class="px-4 "> -->
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">COMPUTER CENTER</h1>
            <p class="lead">The institute has fully air-conditioned state of art Central Computer Center, which is
              available to students of all branches and the staff during and after college hours. It is equipped with
              100
              no. of the latest PC's and licensed software. Apart from the Central computing facility there are separate
              computer centers in each department.</p>
          </div>
        <!-- </div> -->
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="http://www.mpct.org/images/DSCF0002.JPG" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>

    <!-- <div class="container-fluid col-xxl-8 px-4 pb-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="http://www.mpct.org/images/DSCF0002.JPG" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
            width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">COMPUTER CENTER</h1>
          <p class="lead">The institute has fully air-conditioned state of art Central Computer Center, which is
            available to students of all branches and the staff during and after college hours. It is equipped with 100
            no. of the latest PC's and licensed software. Apart from the Central computing facility there are separate
            computer centers in each department.</p>
        </div>
      </div>
    </div> -->
  </section>
  <!-- End Hero -->
  <%- include('./footer.ejs') %>